body{
    background-image: url("../img/pinkspace.jpg") ;
    background-position: 15% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin:0;
    flex-flow: column;
    min-height: 100vh;
}
*{
    box-sizing: border-box;
}
header{
    text-align: center;
}
h1{
    color: red;
}

main{
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}
main > section{
    padding: 1em;
    flex: 1;
    flex-basis: 100%;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: black;
    text-align: justify;
    padding: 0 2em 0 2em;
}

section img{
    
    width: 700px;
    height: 400px;
    border-radius: 3%;
    border: 2px white solid;
    
}

section p{ 
    text-align: center;
    display: block;
}

